@using BeautySalon.Data.Models
@model IList<CommentModel>

<h1 class="text-center pt-4">Послуги</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Імя</th>
            <th scope="col" class="action">Дія</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in @Model)
        {
            <tr>
                <th scope="row">@comment.Id</th>
                <td>@comment.Title</td>
                <td>@comment.UserName</td>
                <td><button class="btn btn-warning m-2"><i class="fa fa-edit"></i></button><button class="btn btn-danger m-2"><i class="fa fa-trash"></i></button> </td>
            </tr>
        }
    </tbody>
</table>
