@using BeautySalon.Data.Models
@model ProductModel

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" disabled type="text" class="form-control" value="@Model.Name">
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" disabled type="number" class="form-control" value="@Model.Price">
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Admin" asp-action="Product" class="btn btn-secondary m3">Назад до списку</a>
</form>
