<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />


<h1 class="text-center pt-4">Новини</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Опис</th>
            <th scope="col">Дія</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><button class="btn btn-warning mx-2"><i class="fa fa-edit"></i></button><button class="btn btn-danger mx-2"><i class="fa fa-trash"></i></button> </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><button class="btn btn-warning mx-2"><i class="fa fa-edit"></i></button><button class="btn btn-danger mx-2"><i class="fa fa-trash"></i></button> </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td><button class="btn btn-warning mx-2"><i class="fa fa-edit"></i></button><button class="btn btn-danger mx-2"><i class="fa fa-trash"></i></button> </td>
        </tr>
    </tbody>
</table>

