<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    @model IList<PostModel>;

<h1 class="text-center pt-4">Новини</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Заголовок</th>
            <th scope="col" class="action">Дія</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in @Model)
        {
            <tr>
                <th scope="row">@post.Id</th>
                <td>@post.Title</td>
                <td>
                    <a class="btn btn-warning m-2" asp-controller="Admin" asp-action="EditPost" asp-route-id="@post.Id">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger m-2" asp-controller="Admin" asp-action="DeletePost" asp-route-id="@post.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

