<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    @model IList<PostModel>;


<h1 class="text-center pt-4">Новини</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Опис</th>
            <th scope="col" class="action">Дія</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in @Model)
        {
            <tr>
                <th scope="row">@post.Id</th>
                <td>@post.Title</td>
                <td>@post.Description</td>
                <td><button class="btn btn-warning m-2"><i class="fa fa-edit"></i></button><button class="btn btn-danger m-2"><i class="fa fa-trash"></i></button> </td>
            </tr>
        }
    </tbody>
</table>

