
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="login">
    <h2 class="active"> Адмін Панель </h2>

    <form>

        <input type="text" class="text" name="username">
        <span>Імʼя</span>

        <input type="password" class="text" name="password">
        <span>Пароль</span>

        <a class="btn btn-primary" asp-controller="Admin"  asp-action="Index">Ввійти</a> 

    </form>

</div>

