<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="login-wrapper d-flex justify-content-center align-items-center">
    <div class="login d-flex row justify-content-center align-items-center">
        <h2 class="text-center"> Адмін Панель </h2>

        <form>

            <input type="text" class="text w-100" name="username">
            <span>Імʼя</span>

            <input type="password" class="text w-100" name="password">
            <span>Пароль</span>

            <a class="btn" asp-controller="Admin" asp-action="Index">Ввійти</a>

        </form>

    </div>
</div>