@{
    ViewData["Title"] = "Euphoria";
}

<section class="background">
    <div class="content-wrapper">
        <div class="intro">
            <h1>
                <span class="smaller wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5">м.Львів, вул. Новознесенська 55</span>
                <span class="big wow pulse" data-wow-duration="1s" data-wow-delay="0s">Euphoria</span><br />
                <span class="small wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">- Салон Краси -</span>
            </h1>
        </div>
    </div>
</section>
<section class="background">
    <div class="content-wrapper">
        <div class="about">
            <div class="aboutbadge">
                <span>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><br />
                    Наш салон краси "Ейфорія" - Ваш шлях до краси. 
                </span>
            </div>
            <div class="aboutbadge black">
                <span>
                    Команда професійних майстрів салону завжди радо зустрінуть Вас і втілять в життя всі побажання і захцянки щодо образу і стилю.
                </span>
            </div>
        </div>
    </div>
</section>
<section class="background">
    <div class="content-wrapper">
        <div class="voucher">
            <div class="voucher-whitetransparent">
                <h2>
                    <i class="fa fa-gift"></i><br />У салоні краси, можна придбати подарунковий сертифікат, який допоможе зробити дорогим Вам людям приємний сюрприз.
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="background">
    <div class="content-wrapper">
        <div class="pricingbadge">
            <h4>ВИСОКА ЯКІСТЬ, НИЗЬКІ ЦІНИ</h4>
            <ul class="pricing_menu__list">
                <li class="pricing_menu__row">
                    <div class="pricing_menu__meal">
                        <span>Стрижка</span>
                    </div>
                    <span class="pricing_menu__price">від 60грн</span>
                </li>
                <li class="pricing_menu__row">
                    <div class="pricing_menu__meal">
                        <span>Укладка + миття</span>
                    </div>
                    <span class="pricing_menu__price">від 50грн</span>
                </li>
                <li class="pricing_menu__row">
                    <div class="pricing_menu__meal">
                        <span>Манікюр</span>
                    </div>
                    <span class="pricing_menu__price">від 40грн</span>
                </li>
                <li class="pricing_menu__row">
                    <div class="pricing_menu__meal">
                        <span>Педікюр</span>
                    </div>
                    <span class="pricing_menu__price">від 120грн</span>
                </li>
                <li class="pricing_menu__row">
                    <div class="pricing_menu__meal">
                        <span>Візаж</span>
                    </div>
                    <span class="pricing_menu__price">від 250грн</span>
                </li>
                <a class="fullpricelist" href="#"><i class="fa fa-file-pdf-o"></i> Всі ціни та послуги</a>
            </ul>
        </div>
    </div>
</section>
<section class="background">
    <div class="content-wrapper">
        <div class="testimonialarea">
            <div class="testimonialarea-bubble">
                <div class="testimonial-widget">
                    <h3 class="uppercase">Euphoria зробила мене красивою!</h3>
                    <div class="testimonial">
                        <p>
                            "Вони подбали про моє весілля, всі питали, хто мій стиліст. Чудові ціни, чудовий персонал!"
                        </p>
                        <p>
                            <strong>Тарас, Львів</strong>
                        </p>
                    </div>
                    <div class="testimonial">
                        <p>
                            "Я є постійним клієнтом їхніх послуг, коли я завітаю до них, я стаю інша людина."
                        </p>
                        <p>
                            <strong>Оксана, Львів</strong>
                        </p>
                    </div>
                    <div class="testimonial">
                        <p>
                            "Щиро дякую, Euphoria, у  вас один із найкращих перукарів, я ставлю 5 <i class="fa fa-star"></i>."
                        </p>
                        <p>
                            <strong>Олена, Києв</strong>
                        </p>
                    </div>
                    <button class="prev-testimonial">Prev</button>
                    <button class="next-testimonial">Next</button>
                </div>
            </div>
            <div class="contactform-bubble">
                <form autocomplete="off"
                      class="contactform"
                      method="post"
                      action="contact.php"
                      id="contactform">
                    <input name="name" type="text" placeholder="Імя" />
                    <input name="email" type="text" placeholder="E-mail" />
                    <textarea name="send" placeholder="Текст" rows="4"></textarea>
                    <input value="Відправити" type="submit" id="submit" class="btnsend" />
                    <div class="done">
                        <div class="alert-box success">
                            <i>Повідомлення відправлено!</i>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contactaddress-bubble">
                <div class="contactaddress">
                    м. Львів, вул, Новознесенська 55<br />
                    <a href="tel:0677017905">0677017905</a>
                </div>
            </div>
        </div>
    </div>
</section>
